
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar filter-panel">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Comments Per Day", "CommentPerDay")</li>
        </ul>
    </div>
</div>

<h2>Время собирать камни</h2>

