<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="blogdb" providerName="System.Data.SqlClient" connectionString="data source=TAMBU-PC\SQLEXPRESS;initial catalog=blogdb;integrated security=True;connect timeout=30;"/>
  </connectionStrings>
  <appSettings>
    <add key="sourceFolder" value="d:\temp\test\"/>
    <add key="destFolder" value="d:\temp\test\backup\"/>
    <add key="searchPattern" value="*.csv"/>
  </appSettings>
</configuration>