
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar filter-panel">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Analyze", "TopCommented")</li>
            <li>@Html.ActionLink("Analyze", "CommentPerDay")</li>
        </ul>
    </div>
</div>
